@font-face {
  font-family: 'CooperBlackStd';
  src: url('./CooperBlackStd.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Courgette-Regular';
  src: url('./Courgette-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Impact';
  src: url('./impact.ttf') format('truetype');
}

@font-face {
  font-family: 'Luckiest Guy';
  src: url('./luckiest-guy.ttf') format('truetype');
}

@font-face {
  font-family: 'Marker-Felt-Wide';
  src: url('./Marker-Felt-Wide.ttf') format('truetype');
}

@font-face {
  font-family: 'MinionPro-Bold';
  src: url('./MinionPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'MyriadPro-600';
  src: url('./MyriadPro-600.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'RifficFree-Bold';
  src: url('./RifficFree-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Bold';
  src: url('./RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RoughTypewriter';
  src: url('./RoughTypewriter.otf') format('opentype');
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('./Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Pricedown';
  src: url('./pricedown-bl.ttf') format('truetype');
}
